@font-face { 
    font-family: 'Fira'; 
    src: url('../fonts/firasans-regular.woff2') format('woff2'), 
         url('../fonts/firasans-regular.ttf')  format('truetype'),
         url('../fonts/firasans-regular.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
  }